/*
##############################################################################

#  SUN DEFAULT.CSS V2.9.9 -- DEVELOPER-JAVA.SUN.COM EDITION #

COPYRIGHT SUN MICROSYSTEMS INC.

FONT SIZES, AND MANY OTHER THINGS IN THIS CSS ARE DEFINED IN A VERY COMPLEX
MANOR. *DO NOT* IN ANY WAY CREATE NEW CLASSES OR FONT SIZES WITHOUT CONTACTING
webdesign@sun.com FIRST!

NOTE: IF THE DEFAULT.CSS RESIDES ON ANY PLACE OTHER THAN /css YOU *MUST* CHANGE
ALL REFERANCES BELOW TO REFLECT THE APPROPRIATE DIRECTORY.

##############################################################################
*/

/* IMPORT FOR 5.X AND UP BROWSERS */
@import url("advanced.css");

/* DEFAULT FONT,GENERIC */
body, th, td, p, div, span, a, input, select, textarea, ul, ol, dl, h1, h2, h3, h4, h5, h6, li, big, small, b, pre.sunfont{font-family:Arial,Helvetica,sans-serif}
body, th, td, p, div, span, a, ul, ol, dl, li, select, input, textarea{font-size:13px}
body, th, td, p{color:#333}
code, kbd, tt, pre, code a, kbd a, tt a, pre a, code span, kbd span, tt span, pre span{font-family:Monaco,Courier,"Courier New";font-size:12px}
code, kbd, tt, pre, code span, kbd span, tt span, pre span{color:#666}
.smaller, .smaller a{font-size:11px}
.smaller b, small, .small, small span, .small span, .small a, small a, div.sitelinks, div.sitelinks a, .breadcrumb{font-size:12px}
big, .big, big span, .big span, .big a, big a{font-size:14px}
h5, h5 a, h6, h6 a, h5 span, h6 span{font-size:14px;color:#000}
h1, h2, h3, h1 span, h2 span, h3 span, h1 a, h2 a, h3 a{font-size:17px;color:#000}
h4, h4 span, h4 a{font-size:16px;color:#000}
h1, h2, h3, h4, h5, h6{margin:3px 0px;padding:0px}
a{text-decoration:none}
a:visited, a:visited code{color:#96C}
a:link, a.named:visited, div.breadcrumb a:visited, div.sitelinks a:visited, a code{color:#594FBF}
a:hover, b.error, span.error{text-decoration:underline}
dt{font-weight:bold;padding:5px 0px 0px 0px}
ul li{list-style-type:square;list-style-image:url('/css/ic_bullet.gif')}

/* FORMS */
form{display:inline}
form, select, input, textarea, ul li{margin:0px;padding:0px}

/* TEXT */
div.pagetitle{padding:0px 10px;color:#333;font-weight:normal}
div.smallpagetitle{padding:0px 10px;color:#000;font-weight:bold}
div.pagetitle, div.pagetitle code{font-size:23px}
div.pagetitle2{font-size:16px;color:#333;font-weight:bold}
div.breadcrumb{color:#899CE6}
div.navtitle{padding:0px 0px 5px 0px;font-weight:bold}
span.rightarrowblue{color:#899CE6}
span.rightarrowred{color:#CC3335}
span.rightarrowwhite{color:#FFF}
span.rightarrow, span.rightarrowblue, span.rightarrowred, span.rightarrowwhite{font-family:Verdana,arial,sans-serif;font-size:12px;font-weight:bold}
.red, b.error, span.error{color:#D12124}
.new{color:#F00}
.note{color:#000}
.new, .note{text-transform:uppercase;font-weight:bold}
p.compact{margin:0px}
p.compact2{margin:0px 0px 7px 0px}

/* SUN COLORS */
.sunred{background:#D12124}
.sunblue{background:#594FBF}
.sunyellow{background:#FBE249}
.sunred, .sunblue, td.sunred a, td.sunblue a{color:#FFF}
td.sunred b, td.sunred div.navtitle{color:#FFDE00;font-weight:bold}
td.sunred li, td.sunblue li, td.sunred ul, td.sunblue ul{color:#FFF;list-style-image:url('/css/ic_bullet_white.gif')}
td.sunblue b, td.sunblue div.navtitle{color:#FFDE00}
td.sunyellow b, td.sunyellow div.navtitle, td.sunyellow a:link, td.sunyellow a:visited{color:#594FBF}
td.sunyellow a:hover{color:#594FBF;text-decoration:underline}

/* DIV PAD */
div.pad0x10, div.sitelinks, div.pagetitle2, div.breadcrumb{padding:0px 10px}
div.pad6{padding:6px}
div.pad8{padding:8px}
div.pad10{padding:10px}
div.pad5x10{padding:5px 10px}
div.pad10x0{padding:10px 0px}
div.pad3x0{padding:3px 0px}
div.contentdivider{padding:4px 0px 8px 0px}
div.pad2x0x10x0{padding:2px 0px 10px 0px}

/* SPACERS */
.sp10{font-size:8px !important}
.sp8{font-size:7px !important}
.sp5{font-size:4px !important}
.sp4{font-size:3px !important}
.sp2{font-size:2px !important}
span.sp20{font-size:19px !important}

/* TABLE STYLES */
td.vatop, th.vatop, tr.vatop td, tr.vatop th, table.vatop td, table.vatop th, div.vatop{vertical-align:top}
td.vamiddle, th.vamiddle, tr.vamiddle td, tr.vamiddle th, table.vamiddle td, table.vamiddle th, div.vamiddle{vertical-align:middle}
td.vabottom, th.vabottom, tr.vabottom td, tr.vabottom th, table.vabottom td, table.vabottom th, div.vabottom{vertical-align:bottom}

/* TABLE COLORS */
table.dkgrey{background:#666}
table.white, td.white, th.white, tr.white td, tr.white th, table tr td.white, table tr th.white, td.white, table.white1, td.white1, th.white1, tr.white1 td, tr.white1 th, table tr td.white1, table tr th.white1, td.white1{background:#FFF}
table.ltgrey, td.ltgrey, th.ltgrey, tr.ltgrey td, tr.ltgrey th, table tr td.ltgrey, table tr th.ltgrey{background:#CCC}
table.vltgrey, td.vltgrey, th.vltgrey, tr.vltgrey td, tr.vltgrey th, table tr td.vltgrey, table tr th.vltgrey{background:#DDD}
table.dkgrey1, td.dkgrey1, th.dkgrey1, tr.dkgrey1 td, tr.dkgrey1 th, table tr td.dkgrey1, table tr th.dkgrey1{background:#BBB}
table.grey3, td.grey3, th.grey3, tr.grey3 td, tr.grey3 th, table tr td.grey3, table tr th.grey3{background:#E3E3E3}
table.navblue, td.navblue, th.navblue, tr.navblue td, tr.navblue th, table tr td.navblue, table tr th.navblue{background:#E4E9FF}
table.blue1, td.blue1, th.blue1, tr.blue1 td, tr.blue1 th, table tr td.blue1, table tr th.blue1{background:#8A9CE8}
table.yellow2, td.yellow2, th.yellow2, tr.yellow2 td, tr.yellow2 th, table tr td.yellow2, table tr th.yellow2{background:#FFFFE2}

/* ADDITIONAL & MODIFIED STYLES */
.sectiontitle1, .sectiontitle1 a{font-size:16px;font-weight:bold}
.sectiontitle2, .sectiontitle2 a{font-size:16px;font-weight:bold}
span.quotehighlight{color:#666;font-size:16px;line-height:21px}
div.sectiontitle1 a{font-family:arial,helvetica,sans-serif;font-weight:bold}
td.selectcell{font-size:12px} /* this is a workaround to patch ns4's bug regarding styled select elements */
table.topnav td a, table.topnav td, table.topnavlight td a, table.topnavlight td, td.selectcell, span.ltcaption1, span.ltcaption1 a, span.dkcaption1, span.dkcaption1 a, div.footer, div.footer a{font-size:12px}
a:visited span.ltcaption1{color:#96C}
a:link span.ltcaption1{color:#594FBF}
p{margin-top:0px;margin-bottom:17px}
table.dkgrey2, tr.dkgrey2, th.dkgrey2, td.dkgrey2{background-color:#D6D6D6}
table.grey4, tr.grey4, th.grey4, td.grey4{background-color:#E7E7E7}
table.grey5, tr.grey5, th.grey5, td.grey5{background-color:#F1F1F1}
table.navblue2, tr.navblue2, td.navblue2{background:#F0F4FF}
div.datacell{padding:3px 6px 4px 6px}
div.pad4x9{padding:4px 9px}
div.pad3x5{padding:3px 5px}
div.pad3{padding:3px}
div.colpadding1{padding:7px 10px 8px 10px}
div.colpadding2{padding:4px 8px 8px 8px}
div.colpadding3{padding:4px 10px 8px 10px}
div.colcaption1{padding:4px 6px 0px 6px}
div.padbottom10{padding-bottom:10px}
div.headerpadding2{padding:1px 6px 2px 6px}
table.topnav td{color:#666}
table.topnavlight td a, table.topnavlight td a:visited, table.topnavlight td{color:#FFF}
table.topnav td a:visited{color:#594FBF}
table.topnav span.rightarrowblue, table.topnav span.rightarrowwhite{font-size:11px}
td.headerbar1{color:#333;background:#E7E7E7;font-weight:bold}
td.headerbar2{color:#666;background:#E7E7E7;font-weight:bold}
td.headerbar3{color:#FFF;background:#594FBF;font-weight:bold}
td.headerbar4{color:#FFF;background:#666;font-weight:bold}
td.headerbar5{color:#666;background:#CCD6F7;font-weight:bold}
td.headerbar6, th.headerbar6{color:#FFF;background:#999;font-weight:bold}
span.ltcaption1{color:#999}
span.dkcaption1, b.dkgrey{color:#666}
span.ltcaption2{color:#999}
span.termhighlight{background-color:#FF9;layer-background-color:#FF9}
span.eventdate{font-size:23px !important;color:#666}
input.medium{width:95px}
input.large, select.large, textarea.large{width:155px}
input.xxlarge, textarea.xxlarge, select.xxlarge{width:300px}
select.globalsearch{background:#E3E3E3}
div.greyformfield select, div.greyformfield input, div.greyformfield textarea{background:#F1F1F1}
input.buttonltblue, input.buttonblue2{cursor:hand;font-family:Verdana,lucida,arial,sans-serif;color:#FFF;height:1.45em;font-size:11px;padding:0px;margin:0px;border:0px none #000;font-weight:bold}
div.leftnav1{font-weight:bold;color:#999}
div.leftnav1 a{font-weight:bold}
td.tooltab{background-color:#D4D6D5;layer-background-color:#D4D6D5;vertical-align:bottom}
td.tooltab div{padding:1px 0px 1px 6px;border-bottom:3px solid #B8B8B8;border-top:2px solid #FFF}
td.tooltabon{background-color:#666;layer-background-color:#666;vertical-align:bottom}
td.tooltabon div{padding:3px 0px 3px 6px}
td.tooltabon b{color:#FFF}
input.buttonblue2{background:#594FBF}
input.buttonltblue{background:#969ADE}
table.photobackground{background-repeat:no-repeat}
.hyphen{color:#594FBF;text-align:right;white-space:nowrap}
div.footer{color:#999;padding:5px 0px 10px 0px}

/* STYLES FOR PHOTOGRAPHIC MASTHEADS */
div.mastheadcaption{position:absolute;left:200px;top:0px;visibility:hidden;background-color:#FFF;layer-background-color:#FFF;padding:0px 3px}
div.mastheadcaption{filter:alpha(opacity=87);-moz-opacity:0.87} /* opacity styles must be in a seperate rule or else visibility:hidden */
div.photobg1{background-color:#4394CC}
div.photobg2{background-color:#F1EEE9}
div.photobg3{background-color:#3A0107}

/* NEW FROM JAF */
a.red{color:#D12124;font-size:9px}
a.red:link, a.red:visited, div.red a:visited{color:#D12124;font-family:Verdana,lucida,arial,sans-serif;font-size:10px;font-weight:bold}
.trafficalert{color:#666;background-color:#F1F1F1;font-family:Verdana,lucida,arial,sans-serif;font-size:10px;margin:1px;font-weight:bold}
table.highlight, td.highlight, th.highlight, tr.highlight td, tr.highlight th, table tr td.highlight, table tr th.highlight{background:#FFFFE2}

/* MVS GENERALIZED PASTED AUGMENTATION FROM EXISTING JSC PAGES */
span.wrapper{font-size:13px;font-family:Verdana,Arial,Helvetica,sans-serif}
span.title{color:#000;font-size:20px;font-weight:bold;font-family:Verdana,sans-serif}
span.body{color:#000;font-size:13px;font-family:Verdana,sans-serif}
span.copyright{color:#000;font-size:10px;font-family:Verdana,sans-serif}
span.date{color:#CCC;font-size:10px;font-family:Verdana,sans-serif}
span.byline{color:#000;font-size:13px;font-family:Verdana,sans-serif}
a.tab:link, a.tab:active, a.tab:visited, a.tab2:link, a.tab2:active, a.tab2:visited{text-decoration:none;font-size:14px;font-family:Verdana,sans-serif;font-weight:bold}
a.tab:link, a.tab:visited{color:#336}
a.tab:active, a.tab2:active{color:#000}
a.tab2:link, a.tab2:visited{color:#FFF}
a.footer:link, a.footer:visited, a.footer:active{font-size:10px;font-family:Verdana,sans-serif}
a.footer:link{color:#00F}
a.footer:visited{color:#606}
a.footer:active{color:#000}
td.dkgray{background:#999}
td.yellow{background:#FFC}

/* MVS GENERALIZED PASTED AUGMENTATION FROM EXISTING WIRELESS PAGES */
span.search{color:#FFF;font-size:13px;font-family:Verdana,sans-serif}
span.subtitle{color:#000;font-size:13px;font-family:Verdana,sans-serif;font-weight:bold}
span.rtbtitle{color:#666;font-size:13px;font-family:Verdana,sans-serif;font-weight:bold}
span.right{color:#3C6;font-size:13px;font-family:Verdana,sans-serif;font-weight:bold}
span.wrong{color:#C00;font-size:13px;font-family:Verdana,sans-serif;font-weight:bold}
div.box2{padding-top:0px}
div.box{padding-top:4px}
td.leftnav div.box{padding-top:3px}
td.leftnav div.box2{padding-top:1px}
table.black{background:#000}
table.gray{background:#CCC}
table.ltgray, tr.ltgray{background:#EEE}
td.code{font-size:12px;font-family:Monaco,Courier,"Courier New"}
td.ltblue{background:#C3E1FF;color:#000}
td.gray{background:#EEE;font-size:13px;text-decoration:none;color:#000;font-family:Verdana,sans-serif}
td.grayline{background:#CCC}
td.heading{background:#EEE;color:#9A9A9A;font-size:14px;font-weight:bold}
td.whitetitle{background:#FFF;font-size:13px;font-weight:bold;font-family:Verdana,sans-serif}
td.yellowtitle{background:#FFC;font-size:13px;font-weight:bold;color:#666;font-family:Verdana,sans-serif}
td.ltyellow{background:#FFC}
input.textentry{color:#000;font-size:10px;font-family:Verdana,sans-serif;font-weight:normal}
a.tree:link, a.tree:visited, a.tree:active{color:#000;text-decoration:none;font-size:12px}
a.map{text-decoration:none;color:#000;font-size:13px;font-family:Verdana,sans-serif}
a.jscnav:link, a.jscnav:active, a.jscnav:visited{text-decoration:none;color:#99C;font-size:13px;font-weight:bold;font-family:Verdana,sans-serif}
a.wdnav:link, a.wdnav:active, a.wdnav:visited{text-decoration:none;color:#339;font-size:13px;font-weight:bold;font-family:Verdana,sans-serif}
.iePageTitleClass{position:absolute;left:0;top:0;background-image:url('/pics/map/captionBG.gif')}
.menu{position:absolute;background-color:#FFC;width:300px}
.menuborder{position:absolute;background-color:#CCC;width:302px}
.origin{position:absolute;background-color:#000}
.popText{color:#000;text-decoration:none;font-family:arial;font-size:12px}
